td {
    background-color: #b1ccbd;
    height: 50px;
    width: 50px;
}

td:hover {
    background-color: #b1ccbd80;
}

.selectionbar {
    background-color: gray;
    padding: 10px 10px;
}

body {
    margin: 0;
}