td{
    background-color: rgb(32, 33, 36);
    padding: 0;
    border: solid 1px rgb(38, 39, 49);
}

td:hover {
    background-color: #b1ccbd80 !important;
}

button {
    background-color: rgb(32, 33, 36);
    color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #3c4043;
    height: 40px;
    font-size: 14px;
}

select {
    background-color: rgb(32, 33, 36);
    border: 1px solid #3c4043;
    border-radius: 10px;
    color: #ffffff;
}

select:hover {
    background-color: rgb(48, 49, 52);
}

span {
    margin: 0 14px;
}

button:hover {
    background-color: rgb(48, 49, 52);
}

.selectionbar {
    background-color: rgb(32, 33, 36);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

body {
    flex-direction: column;
    margin: 0;
    height: 100%;
    display: flex;
    background-color: #F5F5F5;
}

table {
    border-spacing: 0;
    height: 100%;
}

html {
    height: 100%;
}

button:disabled{
    color: black;
    background-color: rgb(32, 33, 36);
}

select:disabled {
    color: black;
    background-color: rgb(32, 33, 36);
}